@(msg: String)

<!DOCTYPE html>
<html>
    <head>
        <title>Computers database</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    </head>
    <body>
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">
                    404: Resource Not Found
                </a>
            </h1>
        </header>
        
        <section id="main">
            <p>@msg</p>
        </section>
        
    </body>
</html>